# IntelliJ IDEA
.idea/

# Maven
target/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
# Operating System Files
.DS_Store
Thumbs.db
TextFiles/
ZipFiles/
# Logs
*.log

# Compiled class file
*.class
